<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<!-- Clear default sources to avoid conflicts -->
		<add key="LocalPackages" value="/app/nuget-packages" />
		<!-- <add key="agm-intellectual-property" value="https://pkgs.dev.azure.com/agrimetrics-projects/_packaging/agm-intellectual-property/nuget/v3/index.json" /> -->
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />

	</packageSources>
</configuration>